@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
  min-height: 100%;
  overflow-x: hidden;
}

body {
  min-height: 100vh;
}

@font-face {
  font-family: "Uni Sans Heavy CAPS";
  src: url("/logofont.otf");
  font-display: swap;
}

.logofont {
  font-family: "Uni Sans Heavy CAPS";
}

.animation-dropdown {
  animation: dropdown 0.1s linear;
}

.iu-is-the-best {
  min-height: 100vh;
}

i {
  width: 20px
}