name: Code Review
on: [pull_request]

jobs:
  reviewdog:
    name: EsLint Review
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: eslint
        uses: reviewdog/action-eslint@v1
        with:
          reporter: github-pr-review
          eslint_flags: --ext js,jsx,ts,tsx .
