name: Code Review
on: [pull_request]

jobs:
  reviewdog:
    name: eslint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
      - name: eslint
        uses: reviewdog/action-eslint@v1
        with:
          reporter: github-pr-review
          reviewdog_version: latest
          eslint_flags: --ext js,jsx,ts,tsx src